@model TrasnporteAdmin.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EmpleadoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <input asp-for="IdEmpleado" class="form-control" />
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoTranscurrido" class="control-label"></label>
                <input asp-for="TiempoTranscurrido" class="form-control" />
                <span asp-validation-for="TiempoTranscurrido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePasajero" class="control-label"></label>
                <input asp-for="NombrePasajero" class="form-control" />
                <span asp-validation-for="NombrePasajero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaVehiculo" class="control-label"></label>
                <input asp-for="PlacaVehiculo" class="form-control" />
                <span asp-validation-for="PlacaVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraViaje" class="control-label"></label>
                <input asp-for="HoraViaje" class="form-control" />
                <span asp-validation-for="HoraViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
